@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700");

:root {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

:root * {
  box-sizing: inherit;
  font-family: inherit;
}

.page-wrapper {
	margin: auto;
	max-width: 700px;
}

.main-menu {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 24px;
}
.main-menu__item {
	display: inline-flex;
	font: 500 20px/2 Montserrat, sans-serif;
}
.main-menu__item + .main-menu__item {
	margin-left: 24px;	
}